.deliveryInfoWrapper{
    background-color: #e7dfd3;
    padding: 40px;
    ul{
        padding: 20px 30px;
    }
}

.title{
    font-weight: 700;
    font-size: 64px;
    line-height: 70.4px;
    color: #424436;
}

.description{
    font-weight: 600;
    line-height: 40px;
    font-size: 20px;
    color: #424436;
    letter-spacing: 0.5px;
}

.descriptionFooter{
    line-height: 20px;
    font-size: 17px;
}